@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --background: #171717;
  --gray: #404040;
  --font-condor: "Share Tech", sans-serif;
  --font-code: "Cascadia Mono", "Consolas", monospace;
  --font-mono: "Geist Sans", sans-serif;
  --color-black: var(--background);
  --color-gray: var(--gray);
  --color-background: var(--background);
}

@theme inline {
  --color-gray: var(--gray);
  --font-title: var(--font-condor);
  --font-code: var(--font-code);
}
body {
  background-color: var(--background);
  color: var(--color-foreground);
  font-family: var(--font-mono);
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeOutRight {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-out-right {
  animation: fadeOutRight 1s forwards;
}

.fade-in-left {
  animation: fadeInLeft 1s forwards;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}

.swiper-wrapper {
  padding-right: 30px;
}

.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.perspective {
  perspective: 1000px;
}
